@import url("https://fonts.googleapis.com/css2?family=Jura&family=Playfair+Display:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
  height: 5px;
  width: 2px;
  border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {
  background: rgb(109, 223, 185);
  border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 171, 142);
}
/* ----------colores--------- */
.text2 {
  color: gray;
}

.play2 {
  font-family: "Jura", sans-serif;
}

.play {
  font-family: "Playfair Display", serif;
}

.header {
  position: relative;
  height: 300px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWrsSg7sX2D6tr6pNAX6Tj4_G8Bbxki8O2RA&usqp=CAU);
  background-position: center;
  background-size: cover;
  padding: 10%;
  box-shadow: inset 0 0 150px 20px black;
  margin-bottom: 40px;
}

.header .welcone {
  position: absolute;
  color: white;
  height: 40px;
  bottom: 60px;
}
.header .busqueda {
  position: absolute;
  height: 50px;
  width: 80%;
  bottom: -20px;
  background-color: rgb(229, 229, 233);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 25);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.busqueda .icono {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 5px 0 0 5px;
}

.busqueda input[type="search"] {
  background-color: transparent;
  height: 50px;
  width: calc(100% - 100px);
  border: none;
  padding-left: 14px;
}
.busqueda input[type="search"]:focus {
  border-bottom: solid 4px aquamarine;
  border-radius: 5px;
  outline: none;
}

.busqueda input[type="submit"] {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: gray;
}
.busqueda input[type="submit"]:hover {
  background-color: black;
  transform: scale(1.2);
}
.busqueda input[type="submit"]:active {
  background-color: aquamarine;
  color: white;
  transform: scale(1);
}
nav {
  background-color: yellow;
}
nav ul {
  height: 100px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow-x: scroll;
}
nav ul li {
  flex: 0 0 120px;
  list-style: none;
  text-align: center;
  font-size: 24px !important;
}
.fs16 {
  font-size: 30px !important;
}

/* .ofresto{
    background-color: rgb(255, 255, 255);
    height: 400px;
    padding: 14px;
}
.ofresto .lista{
    background-color: rgb(242, 211, 161);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.lista .resto{
    flex: 0 0 180px;
    /* overflow: hidden; */
/* display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px black;
    position: relative;
    
}
.resto .img{
    height: 100%;
    width: 30%;
    background-color: rgb(255, 255, 255);
}
.imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 14px 0px 0px 14px;
}
.resto .descrip{
    height: 100%;
    min-height: 180px;
    border-bottom-left-radius: 25px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.ofresto {
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 14px;
}
.ofresto .lista {
  background-color: rgb(242, 211, 161);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.lista .resto {
  width: 50%;
  flex: 1 0 180px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px black;
  position: relative;
}
.resto .img {
  height: 100%;
  width: 30%;
  background-color: rgb(255, 255, 255);
}
.imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 14px 0px 0px 14px;
}
.resto .descrip {
  height: 100%;
  min-height: 180px;
  border-bottom-left-radius: 25px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descrip .datos {
  display: flex;
  justify-content: space-between;
}
.datosresto {
  display: flex;
  flex-direction: column;
}
.rate {
  background-color: rgb(84, 171, 141);
  height: 50px;
  width: 50px;
  border-radius: 15px 0px 15px 0px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 16.5pt;
  position: absolute;
}

.rate__card {
  right: -5px;
  top: -5px;
}
.rate__resto {
  right: 5%;
  bottom: -25px;
}
.sm {
  font-size: 14pt !important;
}

.nav_mobile {
  width: 100%;
  position: fixed;
  height: 60px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_mobile a:active,
.nav_mobile a:link,
.nav_mobile a:visited {
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  color: grey;
}
.nav_mobile a:hover {
  border-top: solid 4px aquamarine;
  color: black;
  height: 56px;
}
.note {
  width: 80%;
  margin: 0px 50px 0px 50px;
}
.md {
  border-bottom: solid 3px aquamarine;
  width: 100px;
  display: flex;
  justify-content: center;
}
.posreal md {
  display: flex;
  justify-content: center;
}
.imagen {
  height: 200px;
  width: 300px;
  border-radius: 50%;
}
.resto {
  display: flex;
}
.text1 {
  font-size: small;
}
.text2 {
  font-size: larger;
}
.datos {
  flex-direction: column;
}
a {
  text-decoration: none;
}
